/FactoryDesignPattern/nbproject/private/
/FactoryDesignPattern/build/
/Singleton/nbproject/private/
/FactoryDesign/nbproject/private/
/Singleton/build/
/Dao/nbproject/private/
/Dao/build/
/MVC/nbproject/private/
/MVC/build/